/* accordion section */
.dependency-accordion {
    margin-bottom: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.dependency-accordion:last-child {
    margin-bottom: 0;
}

.dependency-accordion-in-sync {
    background-color: rgba(22, 196, 127, .16);
}

.dependency-accordion-out-of-sync {
    background-color: rgba(255, 157, 35, .16);
}

/* header section */

.dependency-accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.dependency-accordion-header > h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

/* content section */

.dependency-accordion-content {
    display: none;
    border: 2px solid rgba(255, 157, 35, .16);
    background-color: white;
    border-radius: 4px;
    padding: 16px;
}
